* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      width: 80%;
      margin: auto;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover; 
    }
    .stickybar {
      position: sticky;
      top: 0;
      border: 2px solid black;
      background: #fff;
      padding: 15px;
      /* z-index applies only to elements, accept both positive and negative values.
      More z-index value more is at the top. */
      z-index: 10;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h2{
      margin: 0;
    }
    .scrolling {
      padding: 20px;
      line-height: 1.6;
    }